.root {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background-color: rgba(0, 0, 0, 0.8);
    transition: opacity 250ms 700ms ease;


    display: flex;
    justify-content: center;
    align-items: center;

    .modalWrap {
        padding: 25px;

        font-size: 30px;
        //max-width: 1200px;
        width: 100%;

        height: auto;
        margin: auto;
        background-color: white;
    }
}