.wrap {
    position: relative;
    height: 100vh;
    //min-height: 500px;
    padding-bottom: 20px;
    background-color: green;
}

.game {
    transform-style: preserve-3d;
    perspective: 500px;
    min-height: 100%;
    height: 100%;
}




