.leaderboard {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;

    &::after {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #1976D2;
        transform: translateY(-50%);
    }

    &::before {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgb(0, 0, 0);
        transform: translateY(50%);
    }

    .container {
        max-width: 1200px;
        height: 100%;
        margin: auto;
        position: relative;
        z-index: 5;
        padding: 15px;

        .title {
            width: 100%;
            height: 60px;
            margin-bottom: 20px;

            p {
                text-transform: uppercase;
                color: white;
                font-size: 2rem;
                letter-spacing: 6px;
                font-weight: 700;
            }
        }

        .info {
            width: 100%;
            height: calc(100% - 90px);
            padding: 20px;
            background-color: white;

            .infoHeader {
                display: flex;
                justify-content: flex-start;
                width: 100%;
                height: 40px;
                gap: 30px;
            }


            .gradientLine {
                position: relative;
                width: 100%;
                height: 5px;
                background-color: white;
                margin: 20px 0;

                &::before {
                    content: "";
                    position: absolute;
                    inset: 0;
                    background: linear-gradient(90deg, #1b36f1, rgb(255, 255, 255), rgb(0, 0, 0), rgb(3, 11, 117), red);
                    background-size: 500%;
                }
            }

            .dropdownBlock {
                height: 40px;
                width: 100%;
                display: flex;
                justify-content: flex-end;
                margin-bottom: 20px;
                gap: 20px;
            }

            .infoFooter {
                width: 100%;
                height: calc(100% - 80px - 80px);
                display: flex;
                flex-direction: column;
                gap: 20px;
                overflow: scroll;
                padding: 20px 0 20px 0;

                &::-webkit-scrollbar {
                    height: 0;
                    width: 0;
                }


                .infoUser {
                    display: flex;
                    width: 100%;
                    height: 70px;

                    .userNumber {
                        width: 70px;
                        height: 70px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;

                        p {
                            text-transform: uppercase;
                            font-size: 1rem;
                            font-weight: 700;
                        }
                    }

                    .userName {
                        display: grid;
                        grid-template-columns: 3fr 1fr 1fr 1fr;
                        width: calc(100% - 80px);
                        height: 100%;
                        margin-left: 20px;
                        justify-content: space-between;
                        padding: 10px;
                        box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;

                        .user__name_one {
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            flex-wrap: nowrap;

                            img {
                                width: 50px;
                                height: 50px;
                                border-radius: 50%;
                            }


                            p {
                                text-transform: uppercase;
                                font-size: 1.1rem;
                                font-weight: 600;
                            }
                        }

                        p {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            text-transform: uppercase;
                            font-size: 1.1rem;
                            font-weight: 600;
                        }
                    }
                }

                .redMode {
                    .userNumber {
                        box-shadow: rgba(0, 81, 255, 0.4) 0px 3px 3px 0px;
                    }

                    .userName {
                        box-shadow: rgba(0, 81, 255, 0.4) 0px 3px 3px 0px;
                    }
                }

                .blackMode {
                    .userNumber {
                        box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 3px 0px;
                    }

                    .userName {
                        box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 3px 0px;
                    }
                }
            }
        }
    }
}


@media (max-width: 600px) {
    .leaderboard {
        .container {
            .title {
                p {
                    font-size: 1.5rem;
                }
            }
            .info {
                .infoHeader {
                    height: 40px;
                    margin-bottom: 20px;

                    p {
                        font-size: 1.6rem;
                    }

                    .back {
                        height: 30px;
                        padding: 0 20px;
                    }
                }

                .infoFooter {
                    gap: 10px;

                    &::-webkit-scrollbar {
                        height: 0;
                        width: 0;
                    }


                    .infoUser {
                        display: flex;
                        width: 100%;
                        height: 40px;

                        .userNumber {
                            width: 20px;
                            height: 40px;

                            p {
                                font-size: 0.75rem;
                            }
                        }

                        .userName {
                            width: calc(100% - 30px);
                            margin-left: 10px;
                            padding: 5px;
                            gap: 10px;

                            .user__name_one {
                                gap: 5px;

                                img {
                                    width: 20px;
                                    height: 20px;
                                }

                                p {
                                    font-size: 0.75rem;
                                }
                            }

                            p {
                                font-size: 0.75rem;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
}