.leaderboard {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;

    &::after {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        //background-color: red;
        background-color: #1976d2;
        background-color: #1976d2;
        transform: translateY(-50%);
    }

    &::before {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgb(0, 0, 0);
        background-color: rgb(0, 0, 0);
        transform: translateY(50%);
    }

    .leaderboard__container {
        max-width: 1200px;
        height: 100%;
        margin: auto;
        position: relative;
        z-index: 5;
        padding: 15px;

        .leaderboard__logo {
            width: 100%;
            height: 60px;
            margin-bottom: 20px;

            p {
                font-family: 'Poppins', sans-serif;
                text-transform: uppercase;
                color: white;
                font-size: 2rem;
                letter-spacing: 6px;
                font-weight: 700;
            }
        }

        .leaderboard__info {
            width: 100%;
            height: calc(100% - 90px);
            padding: 20px;
            background-color: white;

            .info__header {
                display: flex;
                justify-content: flex-start;
                width: 100%;
                height: 40px;
                gap: 30px;
            }


            .loader {
                position: relative;
                width: 100%;
                height: 5px;
                background-color: white;
                -webkit-box-reflect: below 1px liner-gradient(transparen, #0005);
                margin: 20px 0;
            }

            .loader::before {
                content: "";
                position: absolute;
                inset: 0;
                background: linear-gradient(90deg, #1b36f1, rgb(255, 255, 255), rgb(0, 0, 0), rgb(3, 11, 117), red);
                animation: animate 20s linear infinite;
                background-size: 500%;
            }

            @keyframes animate {
                0% {
                    background-position: 0 0;
                }

                100% {
                    background-position: 500% 0;
                }
            }



            .dropdown_block {
                height: 40px;
                width: 100%;
                display: flex;
                justify-content: flex-end;
                margin-bottom: 20px;
                gap: 20px;


            .dropdown {
                width: 180px;
                border-radius: 10px;
                background-color: white;
                box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
            }

                .dropdown-header {
                    padding: 10px;
                    cursor: pointer;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }

                .dropdown-body {
                    border-top: 1px solid #E5E8EC;
                    display: none;
                }

                .dropdown-body.open {
                    display: block;
                    margin-top: 10px;
                    position: relative;
                    z-index: 25;
                    border-radius: 10px;
                    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
                    background-color: white;
                }

                .dropdown-item {
                    padding: 10px;
                }

                .dropdown-item:hover {
                    cursor: pointer;
                }

                .dropdown-item-dot {
                    opacity: 0;
                    color: #91A5BE;
                    transition: all .2s ease-in-out;
                }

                .dropdown-item-dot.selected {
                    opacity: 1;
                }

                .icon {
                    font-size: 25px;
                    color: #91A5BE;
                    transform: rotate(0deg);
                    transition: all .2s ease-in-out;
                }

                .icon.open {
                    transform: rotate(180deg);
                }
            }

            .info__footer {
                width: 100%;
                height: calc(100% - 80px - 80px);
                display: flex;
                flex-direction: column;
                gap: 20px;
                overflow: scroll;
                padding: 20px 0 20px 0;

                &::-webkit-scrollbar {
                    height: 0;
                    width: 0;
                }


                .info__user {
                    display: flex;
                    width: 100%;
                    height: 70px;

                    .user__number {
                        width: 70px;
                        height: 70px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;

                        p {
                            font-family: 'Poppins', sans-serif;
                            text-transform: uppercase;
                            font-size: 1rem;
                            font-weight: 700;
                        }
                    }

                    .user__name {
                        width: calc(100% - 80px);
                        height: 100%;
                        margin-left: 20px;
                        display: flex;
                        justify-content: space-between;
                        padding: 10px;
                        box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;

                        .user__name-one {
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            flex-wrap: nowrap;

                            img {
                                width: 50px;
                                height: 50px;
                                border-radius: 50%;
                            }


                        p {
                            font-family: 'Poppins', sans-serif;
                            text-transform: uppercase;
                            font-size: 1.1rem;
                            font-weight: 600;
                        }
                        }

                        .user__name-two {
                            display: flex;
                            align-items: center;
                            gap: 20px;
                            flex-wrap: nowrap;

                            p {
                                font-family: 'Poppins', sans-serif;
                                text-transform: uppercase;
                                font-size: 1.1rem;
                                font-weight: 600;
                            }
                        }
                    }
                }

                .red_mode {
                    .user__number {
                        box-shadow: rgba(0, 81, 255, 0.4) 0px 3px 3px 0px;                    }

                    .user__name {
                        box-shadow: rgba(0, 81, 255, 0.4) 0px 3px 3px 0px;                    }
                }

                .black_mode {
                    .user__number {
                        box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 3px 0px;                    }

                    .user__name {
                        box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 3px 0px;                    }
                }

                .info__empty {
                    width: 100%;
                    height: 70px;
                    padding: 10px;
                    background-color: #04adfe;
                    display: flex;
                    align-items: center;
                    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;

                    p {
                        color: white;
                        font-family: 'Poppins', sans-serif;
                        text-transform: uppercase;
                        font-size: 1.1rem;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}

@media (max-width:600px) {
    .leaderboard {
        .leaderboard__container {
            .leaderboard__info {
                .info__header {
                    height: 40px;
                    margin-bottom: 20px;

                    p {
                        font-size: 1.6rem;
                    }

                    .back {
                        height: 30px;
                        padding: 0 20px;
                    }
                }

                .info__footer {
                    gap: 10px;

                    &::-webkit-scrollbar {
                        height: 0;
                        width: 0;
                    }


                    .info__user {
                        display: flex;
                        width: 100%;
                        height: 40px;

                        .user__number {
                            width: 20px;
                            height: 40px;

                            p {
                                font-size: 1.2rem;
                            }
                        }

                        .user__name {
                            width: calc(100% - 30px);
                            margin-left: 10px;
                            padding: 5px;
                            gap: 10px;

                            .user__name-one {
                                gap: 5px;

                                img {
                                    width: 20px;
                                    height: 20px;
                                }

                                p {
                                    font-size: 1rem;
                                }
                            }

                            .user__name-two {
                                gap: 10px;

                                p {
                                    font-size: 1rem;
                                    text-align: center;
                                }
                            }
                        }
                    }

                    .blue_mode {
                        .user__number {
                            background-color: #04adfe;

                            p {
                                color: #ffffff;
                            }
                        }

                        .user__name {
                            background-color: #04adfe;

                            .user__name-one {
                                p {
                                    color: #ffffff;
                                }
                            }

                            .user__name-two {
                                p {
                                    color: #ffffff;
                                }
                            }
                        }
                    }

                    .white_mode {
                        .user__number {
                            background-color: #ffffff;

                            p {
                                color: #04adfe;
                            }
                        }

                        .user__name {
                            background-color: #ffffff;

                            .user__name-one {
                                p {
                                    color: #04adfe;
                                }
                            }

                            .user__name-two {
                                p {
                                    color: #04adfe;
                                }
                            }
                        }
                    }

                    .info__empty {
                        width: 100%;
                        height: 70px;
                        padding: 10px;
                        background-color: #04adfe;
                        display: flex;
                        align-items: center;
                        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

                    p {
                        color: white;
                        font-family: 'Poppins', sans-serif;
                        text-transform: uppercase;
                        font-size: 1.1rem;
                        font-weight: 600;
                    }
                    }
                }
            }
        }
    }
}